body {
    background-color: #284184;
}

.blog-wrapper h1{
    text-align: center;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
  
.blog-post {
    flex-basis: 0;
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
  
.blog-post h2 {
    margin-top: 0;
    font-size: 24px;
}
  
.blog-post img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.blog-post p {
    margin: 0;
}
  
.blog-post a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
  
.blog-post a:hover {
    background-color: #666;
}