.homepage-wrapper {
    gap: 0;
}

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/images/IMG_3122\ \(1\).jpg');
    background-size: cover;
    background-color: #1f8ea3;
    color: #fff;
    text-align: center;
}

.opening::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.opening::before {
    filter: brightness(80%); 
}
  
.title {
    font-size: 4rem;
    margin: 0;
    color: #fff;
}
  
.subtitle {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
    font-weight: 400;
    color: #fff;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: #FAF9F6;
    height: 100vh;
    padding-top: 75px;
    box-shadow: -2px 6px 4px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: -2px 6px 4px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: -2px 6px 4px -1px rgba(0,0,0,0.31);
}

.about-title{
    text-decoration: underline;
    text-decoration-color: #1f8ea3;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    max-width: 1000px;
    padding: 3%;
}
  
.about-photo img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
  
.about-text {
    width: calc(100% - 450px);
    padding-left: 50px;
    text-align: justify;
    line-height: 1.5;
    
    padding: 3%;
}

.HomeProjects {
    
    padding: 50px;
    height: 100vh;
    padding-top: 75px;
    background-color: #E8E8E8;
    box-shadow: -2px 6px 4px -1px rgba(0,0,0,0.31);
    -webkit-box-shadow: -2px 6px 4px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: -2px 6px 4px -1px rgba(0,0,0,0.31);
}

.HomeProjects h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: black;
    text-decoration: underline;
    text-decoration-color: #1f8ea3;
}

.project {
    
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 30px;
    color: white;
    height: 45vh;
    padding-top: 30px;
}

.project-title {
    
    font-weight: bold;
    margin-bottom: 10px;
}

.project-info-wrapper {
    display: flex;
    align-items: center;
}

.project-info-wrapper img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
}

.project-info-wrapper p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    flex-grow: 1;
    margin-right: 30px;
}

.project a {
    display: block;
    color: #1f8ea3;
    font-size: 1.2rem;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
}

.blog-link{
    text-align: center;
    color: black;
}

.blog-link a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
.blog-link a:hover {
    color: #0d6efd;
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: 	#D8D8D8;
    height: 100vh;
    padding-top: 75px;
}
  
.contact h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    height: 50vh;
}
.contact h1{
    text-decoration: underline;
    text-decoration-color: #1f8ea3;
}
  
.contact-info h4 {
    font-size: 1.2rem;
}
  
.contact-info .phone {
    display: flex;
    align-items: center;
}
  
.contact-info .phone img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
  
.contact-info .phone p {
    margin: 0;
}
  
@media screen and (max-width: 600px) {
    .contact-info {
        width: 90%;
    }
}

.email {
    display: flex;
    align-items: center;
}

.email-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.linkedin {
    display: flex;
    align-items: center;
}

.linkedin img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.git{
    display: flex;
    align-items: center;
}

.git img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contact-info p {
    font-size: 1.1rem;
}

.contact-info a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .contact-info a:hover {
    color: #0d6efd;
    text-decoration: underline;
  }
  